/* Your styles for explore page */
#explore-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

p{
    color:#525252;
}

.card {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 20px;
}

.card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 20px;
}

.card .body {
    flex-grow: 1;
}

#filter-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

/* Navbar*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff; 
    z-index: 1000;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px; 
    margin-right: 40px;
    margin-left: 40px;
}

.logo img {
    max-height: 40px; /* Adjust the max-height for the logo */
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: #333; /* Link color */
    font-weight: bold;
    font-size: 16px; /* Link font size */
}

a:hover {
    color: #007BFF; /* Link color on hover */
}

.space {
    margin: 50px;
}

/*buttons for filter*/

#filter-buttons {
    display: flex;
}

button {
    background-color: #eee; /* Default button background color */
    padding: 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button.active {
    background-color: #ccc; /* Active button background color */
}