body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    align-items: center;
    justify-content: center;
    height: 90vh;
    padding: 20px;
    margin: auto;
    width: 50%;
}

.centered-element {
    margin-top: 25vh;
    margin-left: 40px;
    margin-right: 40px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.my-3 {
    margin-top: 3px;
    margin-bottom: 3px;
}

.py-3 {
    padding-top: 3px;
    padding-bottom: 3px;
}

.px-3 {
    padding-right: 3px;
    padding-left: 3px;
}

.mx-3 {
    margin-right: 3px;
    margin-left: 3px;
}


input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

img{
    height: 100vh;
}



.overlay-container {
    position: relative;
    width: 50%;
    height: 100vh;
    overflow: hidden;
}

.overlay-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: #000; /* Text color */
}

.overlay-text h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.overlay-text p {
    font-size: 1.0em;
    max-width: 600px;
    margin: 2;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.233); /* Semi-transparent black background */
}



header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff; /* Navbar background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px; 
    margin-right: 40px;
    margin-left: 40px;
}

.logo img {
    max-height: 40px; /* Adjust the max-height for the logo */
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: #333; /* Link color */
    font-weight: bold;
    font-size: 16px; /* Link font size */
}

a:hover {
    color: #007BFF; /* Link color on hover */
}

.input-like {
    background-color: #eee;
    padding: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
    border-radius: 12px;
}

.input-like p{
    text-align: center;
}